@font-face {
    font-family: 'Mario';
    src: url('fonts/SuperMario256.ttf');
    src: local('fonts/SuperMario256.ttf'),
         local('SuperMario256.ttf'),
         url('SuperMario256.ttf') format('truetype'),
}

h1 {
  font-family: 'Mario';
  margin: 5%;
  text-align: center;
  font-size: 100pt;
  color: #E52929;
  text-shadow: 5px 5px black;
}

.marioGif {
  margin-left: 35%;
  margin-bottom: 3%;
}

.hide {
  display: none;
}
.startButton {
  background-color: #13B510;
  margin-left: 43%;
  text-align: center;
  font-family: 'Mario';
  padding: 14px 20px;
  width: 100px;
}
.refreshButton {
  background-color: #13B510;
  margin-left: 43%;
  text-align: center;
  font-family: 'Mario';
  padding: 14px 20px;
}
.hide {
  display: none;
}
.form-group {
  width: 25%;
  text-align: center;
  margin: 5%;
  margin-left: 35%;
}

#inputName1 {
  text-align: center;
  font-family: 'Mario';
}

body {
  background-color: #FFF542;
}

.card {
  height: 200px;
  width: 150px;
  float: left;
  margin: 15px;
  border: 5px;
  background-color: #0B78C6;
  display: none;
  border-radius: 5px;
}

.card:hover {
  cursor: pointer;
}
span {
  color: #FCFFF4;
  font-size: 110pt;
  font-family: "Mario";
  text-align: center;
}
